@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

html {
  font-size: 10px;
}

body {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  background: #3c6382;
  margin: 0;
  padding: 0 15px;
}

h1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 4rem;
  letter-spacing: 2px;
  margin-bottom: 0;
}

h3 {
  font-family: "Montserrat Alternates", sans-serif;
}

a {
  color: #ae2012;
  text-decoration: none;
  transition: color 0.6s;
}

a:hover {
  color: #bb3e03;
}

#italic {
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-style: italic;
}

#italic::before {
  content: open-quote;
}

#italic::after {
  content: close-quote;
}

#main {
  margin: 30px 8px;
  padding: 10px;
  border-radius: 8px;
  background: #b2bec3;
}

#image-div {
  background: #7c7274;
  margin: 25px 0;
  padding: 30px;
  border-radius: 15px;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 25px;
  filter: drop-shadow(0 0 30px #333);
}

#img-caption {
  margin: 25px 0 10px 0;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-style: italic;
}

#img-caption::before {
  content: open-quote;
}

#img-caption::after {
  content: close-quote;
}

#headline {
  margin: 50px 0;
  text-align: center;
}

strong {
  font-family: "Francois One", sans-serif;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
  margin-right: 20px;
  font-weight: 500;
}

blockquote {
  max-width: 545px;
  font-style: italic;
  text-align: left;
  margin: 0px auto 50px auto;
}
